export GOPATH=$( realpath "$PWD/../../../.." )
export PATH="$PWD/bin:$PATH"

export BOSHUA_SERVER=http://localhost:8080/
#export BOSHUA_LOG_LEVEL=debug

source_env ~/Projects/src/github.com/dpb587/northstar.infra/v2/aws-use1/

