<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
      <v-app id="inspire" dark>
        <v-navigation-drawer
          v-model="drawer"
          clipped
          fixed
          app
        >
          <v-list dense>
            <v-list-tile @click="">
              <v-list-tile-action>
                <v-icon>dashboard</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Dashboard</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="">
              <v-list-tile-action>
                <v-icon>settings</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Settings</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left>
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <v-toolbar-title>Application</v-toolbar-title>
        </v-toolbar>
        <v-content>
          <v-container>
            <v-card-title>
              <h2>Releases</h2>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>

            <v-data-table
              :headers="headers"
              :items="results"
              :loading="loading"
              :rows-per-page-items="[25,50,100]"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name}}</td>
                <td>{{ props.item.version }}</td>
                <td>
                  <a :href="props.item.source_tarball.urls[0].url">Download</a>
                </td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                No releases were found.
              </v-alert>
            </v-data-table>
          </v-container>
        </v-content>
        <v-footer app fixed>
          <span>&copy; 2017</span>
        </v-footer>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: function() {
          return {
            drawer: true,
            search: '',
            headers: [
              {
                text: 'Name',
                sortable: true,
                value: 'name'
              },
              {
                text: 'Version',
                sortable: true,
                value: 'version'
              },
              {
                text: 'Download',
                sortable: true,
                value: 'source_tarball'
              }
            ],
            loading: false,
            results: []
          }
        },
        mounted: function() {
          var that = this;

          that.loading = true;

          axios
            .get(
              '/api/v2/graphql',
              {
                params: {
                  query: `{releases{name,version,source_tarball{name,hashes{type,hash},urls{url}}}}`
                }
              }
            )
            .then(function(response) {
              that.results = response.data.data.releases;
            })
            .finally(function() {
              that.loading = false;
            })
        }
      })
    </script>
  </body>
</html>
