<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
      <v-app id="inspire">
        <v-navigation-drawer
          v-model="drawer"
          clipped
          fixed
          app
        >
          <v-list dense>
            <v-list-tile @click="$router.push('releases')">
              <v-list-tile-action>
                <v-icon>redeem</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Releases</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="$router.push('stemcells')">
              <v-list-tile-action>
                <v-icon>settings_power</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Stemcells</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left>
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <v-toolbar-title>boshua</v-toolbar-title>
        </v-toolbar>
        <v-content>
          <router-view></router-view>
        </v-content>
        <v-footer app fixed>
          <span>&copy; 2017</span>
        </v-footer>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      Vue.filter('os_friendly', function (value) {
        switch (value) {
          case 'ubuntu-trusty': return 'Ubuntu Trusty';
          case 'ubuntu-xenial': return 'Ubuntu Xenial';
          case 'centos-7': return 'CentOS 7';
          case 'windows2012R2': return 'Windows 2012R2';
          case 'windows2016': return 'Windows 2016';
        }

        return value;
      })

      Vue.filter('iaas_friendly', function (value) {
        switch (value) {
          case 'aws': return 'Amazon Web Services';
          case 'azure': return 'Microsoft Azure';
          case 'google': return 'Google Cloud Platform';
          case 'openstack': return 'OpenStack';
          case 'softlayer': return 'SoftLayer';
          case 'vcloud': return 'VMware vCloud';
          case 'vsphere': return 'VMware vSphere';
          case 'warden': return 'Warden';
        }

        return value;
      })

      Vue.filter('hypervisor_friendly', function (value) {
        switch (value) {
          case 'xen-hvm': return 'Xen HVM';
          case 'xen': return 'Xen';
          case 'kvm': return 'KVM';
          case 'hyperv': return 'Hyper-V';
          case 'boshlite': return 'BOSH Lite';
          case 'esxi': return 'ESXi';
        }

        return value;
      })

      var boshuaReleasesIndex = Vue.component('boshuaReleasesIndex', {
        template: `
          <v-container>
          <p>Some details about releases</p>
            <v-card-title>
              <h2>Repositories</h2>
            </v-card-title>
            <v-layout wrap>
              <v-flex xs8>
                <v-list two-line subheader>
                <v-progress-linear :indeterminate="true" :active="loading" height="2" style="margin:0;"></v-progress-linear>

                  <v-list-group
                    v-for="repogroup in repogroups"
                    :key="repogroup.key"
                  >
                    <v-list-tile slot="activator" avatar>
                      <v-list-tile-avatar>
                        <img :src="repogroup.avatar">
                      </v-list-tile-avatar>

                      <v-list-tile-content>
                        <v-list-tile-title>{{ repogroup.title }}</v-list-tile-title>
                        <v-list-tile-sub-title>{{ repogroup.namespace }}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile
                      v-for="repo in repogroup.repos"
                      :key="repo.key"
                      @click=""
                    >
                      <v-list-tile-avatar></v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title>{{ repo.title }}</v-list-tile-title>
                      </v-list-tile-content>

                      <v-list-tile-action>
                        <v-icon>redeem</v-icon>
                      </v-list-tile-action>
                    </v-list-tile>
                  </v-list-group>
                </v-list>
              </v-flex>
              <v-flex>
              something else
              </v-flex>
            </v-layout>
          </v-container>
        `,
        data: function() {
          return {
            loading: false,
            repogroups: []
          };
        },
        mounted: function() {
          var that = this;

          that.loading = true;

          axios
            .post(
              '/api/v2/graphql',
              {
                query: `{release_labels{name}}`
              }
            )
            .then(function(response) {
              var repogroupsMap = {};
              var repogroups = [];

              response.data.data.release_labels.forEach(function (o) {
                var labelSplit = o.name.split("/");

                if (labelSplit[0] == "repo") {
                  var key = labelSplit[1] + "/" + labelSplit[2];
                  var avatar = '';

                  if (labelSplit[1] == "github.com") {
                    avatar = "https://github.com/" + labelSplit[2] + ".png?size=96";
                  }

                  if (!(key in repogroupsMap)) {
                    repogroupsMap[key] = repogroups.length;
                    repogroups[repogroups.length] = {
                      key: key,
                      avatar: avatar,
                      namespace: labelSplit[1],
                      title: labelSplit[2],
                      repos: []
                    };
                  }

                  repogroups[repogroupsMap[key]].repos.push({
                    key: labelSplit.slice(1).join("/"),
                    title: labelSplit[3]
                  });
                }
              });

              that.repogroups = repogroups
            })
            .finally(function() {
              that.loading = false;
            })
        }
      });

      var boshuaReleasesFullIndex = Vue.component('boshuaReleasesFullIndex', {
        template: `
          <v-container>
            <v-card-title>
              <h2>Releases</h2>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>

            <v-data-table
              :headers="headers"
              :items="results"
              :loading="loading"
              :rows-per-page-items="[25,50,100]"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name}}</td>
                <td>{{ props.item.version }}</td>
                <td>
                  <a :href="props.item.tarball.urls[0].url">Download</a>
                </td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                No releases were found.
              </v-alert>
            </v-data-table>
          </v-container>
        `,
        data: function() {
          return {
            search: '',
            headers: [
              {
                text: 'Name',
                sortable: true,
                value: 'name'
              },
              {
                text: 'Version',
                sortable: true,
                value: 'version'
              },
              {
                text: 'Download',
                sortable: true,
                value: 'tarball'
              }
            ],
            loading: false,
            results: []
          };
        },
        mounted: function() {
          var that = this;

          that.loading = true;

          axios
            .post(
              '/api/v2/graphql',
              {
                query: `{releases{name,version,tarball{name,hashes{type,hash},urls{url}}}}`
              }
            )
            .then(function(response) {
              that.results = response.data.data.releases;
            })
            .finally(function() {
              that.loading = false;
            })
        }
      });

      var boshuaStemcellsIndex = Vue.component('boshuaStemcellsIndex', {
        template: `
          <v-container>
            <v-card-title>
              <h2>Stemcells</h2>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>

            <v-data-table
              :headers="headers"
              :items="results"
              :loading="loading"
              :rows-per-page-items="[25,50,100]"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.os | os_friendly}}</td>
                <td>{{ props.item.version }}</td>
                <td>{{ props.item.iaas | iaas_friendly }}</td>
                <td>{{ props.item.hypervisor | hypervisor_friendly }}</td>
                <td>{{ props.item.flavor }}</td>
                <td><a :href="props.item.tarball.urls[0].url">Download</a></td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                No stemcells were found.
              </v-alert>
            </v-data-table>
          </v-container>
        `,
        data: function() {
          return {
            search: '',
            headers: [
              {
                text: 'Operating System',
                sortable: true,
                value: 'os'
              },
              {
                text: 'Version',
                sortable: true,
                value: 'version'
              },
              {
                text: 'Infrastructure',
                sortable: true,
                value: 'iaas'
              },
              {
                text: 'Hypervisor',
                sortable: true,
                value: 'hypervisor'
              },
              {
                text: 'Flavor',
                sortable: true,
                value: 'flavor'
              },
              {
                text: 'Download',
                sortable: true,
                value: 'tarball'
              }
            ],
            loading: false,
            results: []
          };
        },
        mounted: function() {
          var that = this;

          that.loading = true;

          axios
            .post(
              '/api/v2/graphql',
              {
                query: `{stemcells{os,version,iaas,hypervisor,flavor,tarball{name,hashes{type,hash},urls{url}}}}`
              }
            )
            .then(function(response) {
              that.results = response.data.data.stemcells;
            })
            .finally(function() {
              that.loading = false;
            })
        }
      });

      new Vue({
        router: new VueRouter({
          routes: [
            { path: '/', redirect: function () { return '/releases-full'; } },
            // { name: 'release', path: '/release', component: boshuaReleaseIndex },
            { name: 'releases', path: '/releases', component: boshuaReleasesIndex },
            { name: 'releases-full', path: '/releases-full', component: boshuaReleasesFullIndex },
            { name: 'stemcells', path: '/stemcells', component: boshuaStemcellsIndex }
          ]
        }),
        data: function() {
          return {
            drawer: false
          }
        }
      }).$mount('#app')
    </script>
  </body>
</html>
